<%- contentFor('body') %>
<h1>Cadastro de Disciplina</h1>
<form method="post" action="/disciplina/<%=()%>">
    Nome: <input type="text" name="nome" value="<%=Disciplina.nome %>" /><br/>
    Horario: <input type="text" >
  <input type="submit" value="Enviar" />

  
</form>